Both of these are key steps in the [[Design Process]] to ensure that the final product matches up with the initial problem that was sought out to be solved. 
## Validation
This is ensuring that the evaluation criterion and the requirements that you interpret from your [[Stakeholders]] match what they [[Stakeholders]] actually want from you. This occurs during the study and clarification problem stage of the [[Design Process]]
## Verification
This is ensuring that the final product matches the evaluation criterion and the requirements set out for your project. This occurs during the identifying the most promising solution stage of the [[Design Process]].